<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
{% load static %}
  <div class="container-fluid">
    <a class="navbar-brand fw-bold fs-3" href="#">ADMIN</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	  	{% with request.resolver_match.url_name as url_name %}
        <li class="nav-item">
          <a class="nav-link {% if url_name == 'dashboard' %}active{% endif %}" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/admin/manage/practice/' %}active{% endif %}" href="{% url 'mprac' %}">Practice Tests</a>
        </li>
		<li class="nav-item">
          <a class="nav-link {% if request.path == "/admin/manage/grand/"  %}active{% endif %}" href="{% url 'mgrand' %}">Grand Tests</a>
        </li>
		{% if request.user.is_authenticated %}
		<li class="nav-item">
			<a href="{% url 'list_all' %}" class="nav-link {% if request.path == "/admin/manage/all/"  %}active{% endif %}">All</a>
		</li>
    {% endif %}
		{% if request.user.is_staff %}
		<li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">View Site</a>
        </li>
		
		{% endif %}
		{% endwith %}
      </ul>
      <form class="d-flex">
	  <a href="{% url 'create_test' %}" class="btn btn-primary mx-5"><span class="fw-bolder me-2 ">+</span>Create Test</a>
    
      <div>
        <a class="rounded-circle" href="#" role="button" id="dropdownUser"
          data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="avatar avatar-md avatar-indicators avatar-online">
            <img alt="avatar" src="{% static '/assets/images/avatar/avatar-1.jpg' %}"
              class="rounded-circle" />
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end me-3"
          aria-labelledby="dropdownUser">
          <div class="px-4 pb-0 pt-2">


            <div class="lh-1 ">
              <h5 class="mb-1">{{request.user.get_full_name}}</h5>
              <a href="#" class="text-inherit fs-6">View my profile</a>
            </div>
            <div class=" dropdown-divider mt-3 mb-2"></div>
          </div>

          <ul class="list-unstyled">

            <li>
              <a class="dropdown-item" href="#">
                <i class="me-2 icon-xxs dropdown-item-icon" data-feather="user"></i>Edit
                Profile
              </a>
            </li>
    
            <li>
              <a class="dropdown-item" href="#">
                <i class="me-2 icon-xxs dropdown-item-icon"
                  data-feather="settings"></i>Account Settings
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'logout' %}">
                <i class="me-2 icon-xxs dropdown-item-icon"
                  data-feather="power"></i>Sign Out
              </a>
            </li>
          </ul>

        </div>
        </div>
      
     
      </form>
    </div>
  </div>
</nav>